@import "../../src/scss/init";

.page-section {
  background-color: $red-700;
  padding: 3rem 0;

  .layout--threecol-33-34-33 {
    .layout__region--first,
    .layout__region--second,
    .layout__region--third {
      flex: 0 1 100%;

      @include media-breakpoint-up(md) {
        flex: 0 0 33%;
      }
    }
  }
}

.layout__region {
  .heading {
    color: $gray-100;
    font-size: 2.5rem;
  }
}
