{#
/**
* @file
* Template for page-section component.
*/
#}

<section class="page-section">
  {% if not full_width %}
    <div class="container">
  {% endif %}
    <div class="row">
      <div class="col-12">
        {% block section_content %}
          {{ content|without('field_full_width') }}
        {% endblock %}
      </div>
    </div>
  {% if not full_width %}
    </div>
  {% endif %}
</section>