@import "../../src/scss/init";

.page__header {
  .media {
    img {
      border-radius: 100%;
      max-width: 12rem;
      aspect-ratio: 1/1;
    }
  }

  .views-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }

    > * {
      padding: 1rem;
    }
  }

  .heading {
    font-family: 'Saira Stencil One', cursive;
    text-transform: uppercase;
    color: $gray-100;
  }
}