@import "../../src/scss/init";

.page-title {
  &__media {
    overflow: hidden;

    img {
      border-radius: 100%;
    }
  }
}

.page__header {
  .media {
    img {
      border-radius: 100%;
      max-height: 10rem;
    }
  }
}