// MENU - BLOCK -- menu

#menu {

  .region-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
  }

  .block-menu {

    & > h2 {
      display: none;
    }

    @media (max-width: $screen-sm-max) {
      & {
        padding: 0 0 3.5rem 0;
      }

      // 1
      ul.menu {
        margin: 0;
        padding: 0;


        li {
          position: relative;
          margin: 0;
          padding: 0;
          line-height: 1.5;

          &:not(:last-child) {
            a {
              border-bottom: 0.1rem solid $menu-mobile-border;
            }
          }

          a {
            display: block;
            padding: $space-md $space-sm;
            // text-decoration: none;
            color: $menu-mobile-link-text;
            font-size: $h2-font-size;
            font-family: "Roboto Slab", serif;
            text-align: center;

            &.is-active {
              color: $menu-mobile-link-text-active;
            }

            &.is-active:hover {
              color: $menu-mobile-link-text-active-hover;
            }
          }

          // 2
          ul {
            display: none;
            border: 0;

            &.open {
              display: block;
            }

            li {
              a {
                padding: 1.5rem 8rem 1.5rem 4rem;
              }

              // 3
              ul {
                li {
                  a {
                    padding: 1.5rem 8rem 1.5rem 6rem;
                  }

                  // 4
                  ul {
                    li {
                      a {
                        padding: 1.5rem 8rem 1.5rem 8rem;
                      }

                      // 5
                      ul {
                        li {
                          a {
                            padding: 1.5rem 8rem 1.5rem 10rem;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &:hover {
            color: $menu-mobile-link-text-hover;
          }

          span {
            position: absolute;
            top: 0;
            right: 0;
            width: 6rem;
            height: 6rem;
            cursor: pointer;
            border-left: 0.1rem solid $menu-mobile-border;
            background: url("../images/down.svg") no-repeat 50% 50%;

            &.open {
              background: url("../images/top.svg") no-repeat 50% 50%;
            }
          }
        }
      }
    }

    @media (min-width: $screen-md-min) {

      & {
        position: relative;
      }

      // 1
      ul.menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        align-items: center;
      }

      ul.menu > li {
        position: relative;
        /* flex-grow: 1; */
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1;
      }

      ul.menu > li > a, span {
        display: block;
        margin: 0;
        padding: 0 2rem;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        color: $menu-link-text;
        background: $menu-link-background;
        line-height: 5.4rem;
        font-family: "Roboto Slab", serif;

        &::after {
          content: '';
          width: 0px;
          bottom: 1rem;
          left: 50%;
          position: absolute;
          border-bottom: 1px solid $white;
          transition: all ease-in-out 0.2s;
        }
      }

      ul.menu > li:hover > a {
        color: $menu-link-text-hover;
        &::after {
          width: 100%;
          left: 0;
        }
      }

      ul.menu > li.menu-item--active-trail > a {
        color: $menu-link-text;
        font-weight: bold;
      }

      ul.menu > li.menu-item--active-trail:hover > a {
        color: $menu-link-text-active-hover;
      }

      // 2
      ul.menu > li > ul.menu {
        display: none !important;
        background: $menu-second-link-background;
      }

      ul.menu > li:hover > ul.menu {
        position: absolute;
        z-index: 1000;
        top: 5.4rem;
        left: 0;
        display: block !important;
        min-width: 100%;
        height: auto;
      }

      ul.menu > li:last-child > ul.menu {
        right: 0;
        left: auto;
      }

      ul.menu > li > ul.menu > li {
        height: auto;
        margin: 0;
        padding: 0;
        line-height: 1;
      }

      ul.menu > li:hover > ul.menu > li > a {
        height: auto;
        margin: 0;
        padding: 1.5rem 2rem;
        text-align: left;
        text-transform: none;
        color: $menu-second-link-text;
        font-weight: normal;
        line-height: 1;
      }

      ul.menu > li:hover > ul.menu > li > a:hover {
        color: $menu-second-link-text-hover;
        background: $menu-second-link-background-hover;
      }

      // 3
      ul.menu > li:hover > ul.menu > li:hover > ul.menu {
        position: absolute;
        top: 0;
        left: 100%;
      }

    }
  }
}
