// MAIN - NODE -- full

#main {
  .node--view-mode-full {
    .node__meta {
      margin-top: 5rem;
      padding-top: 2rem;
      border-top: 0.1rem solid $gray-4;
    }

    .node__links {
      margin-bottom: 4rem;
    }

    @media (min-width: $screen-md-min) {
      .field--name-field-image {
        float: right;
        margin: 0 0 2rem 3rem;
      }
    }
  }
}
