// Define your custom typography/classes here.
// -----------------------------------------------------------------------------

main {
  a {
    color: $red-600;

  &:hover {
    color: $red-400;
  }

    &:visited {
      color: $red-800;
    }
  }
}