.media--view-mode-default.media--type-video .field,
.media--view-mode-default.media--type-remote-video .field {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.media--view-mode-default.media--type-video .field video,
.media--view-mode-default.media--type-remote-video .field iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-dialog.ui-draggable {
  max-height: 90vh;
  overflow-y: auto;
}

.ck-editor__top {
  .ck.ck-style-panel .ck-style-grid .ck-style-grid__button.ck-disabled {
    display: none !important;
  }
}
